body, html {
  width: 100vw;
  background-color: black;
  margin: 0;
  overflow: hidden;
  min-height: 100%;
}

/* Menu container - initially hidden with opacity, scale, and visibility */
.site-container {
  display: flex;
  opacity: 0; /* Start hidden */
  transform: scale(0.9); /* Start scaled down */
  visibility: hidden; /* Hidden for interactivity */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; /* Ensure the menu is on top */
  width: 100vw;
  min-height: 100vh;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out, visibility 2s 2s; /* Smooth transition */
}

/* When menu is visible */
.site-container.visible {
  opacity: 1; /* Fully visible */
  transform: scale(1); /* Normal size */
  visibility: visible; /* Make it interactive */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

/* Image styles */
.image {
  width: 100%;
  transition: object-position 0.6s ease;
}

/* The image track container */
#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

/* Title */
.main-title {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Slide in from below */
  transition: opacity 3s ease, transform 3s ease;
}

.main-title.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Reset position */
}

.hidden {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}